<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="edu.berkeley.eecs.emission.cordova.integritydetect"
        version="1.0.0">

  <name>IntegrityDetection</name>
  <description>Integrity detection for road surface </description>
  <author>Bingbing Huang (bing2013@cs.washington.edu)</author>
  <license>Modified BSD license</license>

  <engines>
    <engine name="cordova" version=">=3.6.0"/>
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="integrityDetect">
        <param name="android-package" value="edu.berkeley.eecs.emission.cordova.integrityDetect.IntegrityNotificationReceiver"/>
      </feature>
    </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <receiver
            android:name="edu.berkeley.eecs.emission.cordova.integrityDetect.IntegrityNotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="local.transition.initialize"></action>
                <action android:name="local.transition.exited_geofence"></action>
                <action android:name="local.transition.stopped_moving"></action>
            </intent-filter>
        </receiver>
        <service
          android:name="edu.berkeley.eecs.emission.cordova.integrityDetect.IntegrityDetector"
          android:enabled="true"
          android:exported="false">
        </service>
    </config-file>

    <source-file src="src/android/IntegrityNotificationReceiver.java" target-dir="src/edu/berkeley/eecs/emission/cordova/integrityDetect"/>
    <source-file src="src/android/IntegrityDetector.java" target-dir="src/edu/berkeley/eecs/emission/cordova/integrityDetect"/>
    <source-file src="src/android/SimpleMovementSensorEvent.java" target-dir="src/edu/berkeley/eecs/emission/cordova/integrityDetect"/>
    <resource-file src="res/android/movement_sensors_cachekeys.xml" target="res/android/movement_sensors_cachekeys.xml"/>
    
  </platform>
</plugin>